<div class="is-online" [class.active]="member.is_online"></div>
<div class="name">{{ member.name }}</div>
<div *ngIf="member.is_write_message" class="is-typing">
  <svg height="4" width="16" class="loader">
    <circle class="dot" cx="2" cy="2" r="2" style="fill: grey" />
    <circle class="dot" cx="8" cy="2" r="2" style="fill: grey" />
    <circle class="dot" cx="14" cy="2" r="2" style="fill: grey" />
  </svg>
</div>
<div
  *ngIf="!hideUnreadMsCounter"
  class="counter"
  [class.display-on]="unreadMsCounter"
  [class.active]="active"
>
  <span *ngIf="unreadMsCounter">{{ unreadMsCounter }}</span>
</div>
